h1 {
    background-color:#800080;
    color:green;
	text-align:center;
	border:solid 2px;
	border-color:black;}
body {
      font-family:arial;
      background-color:#A865C9;}
p {
color:green;
background-color:#d8bfd8}

ul {
background-color: #d8bfd8;
border:dotted 2px;
border-color:grey;}

ol {
background-color: #d8bfd8;
border:solid 2px;
border-color:grey;}